/* ============== MEDIA QUERIES ================ */

@media screen and (max-width: 1400px) {

    .navLink{
        margin: 2rem 0 0 0
    }
    #masthead{
        font-size: 100px;
        margin: 2rem 1rem 0 3.5rem
    }
    #mastSubText{
        margin: 0 4rem 1rem 3.5rem
    }
    #navBrand{
        margin: 2rem 1rem 1rem 1rem;
    }

    #blog{
        grid-template-rows: .1fr 1fr 1fr 1fr;
    }

    #article1{
        grid-column: 2/11;
        grid-row: 2;
    }
    #article2{
        grid-column: 11/20;
        grid-row: 2;
    }
    #article3{
        grid-column: 2/20;
        grid-row: 4;
        flex-direction: row;
       
    }

    #article3>img{
        min-width: auto;
        min-height: 100%;
        overflow: hidden;
        background-position: 0 0;
        align-self: center ;
    }

    #article3>div{
        max-width: 50%;
    }

    #article4{
        grid-column: 2/20;
        grid-row: 3;
    }

    #blogHeading{
        align-self: start;
        font-size: 100px;
        grid-row: 1;
    }

    #aboutUsText{
        margin: 1rem 1rem 1rem 0;
        line-height: 1.7
    }
    
    #relatedPostSection{
        grid-template-columns: repeat(20, 1fr);
        grid-template-rows: .1fr .5fr .6fr;
        padding-bottom: 8rem;
        gap:3rem;
    }

    #relatedPostsHeading{
        font-size: 100px;
        grid-column: 2/12;
        grid-row: 1;
        margin: 3rem 0 0 0;
    }
    
    #related-article1{
        grid-column: 2/11;
        grid-row: 2;
    } 
    
    #related-article2{
        grid-column: 11/20;
        grid-row: 2;
    }
    
    #related-article3{
        grid-column: 2/ 18;
        grid-row: 3;
        flex-direction: row;
    }

    #related-article3>img{
      max-width:40%;
      min-height: 100%;
    } 

    #navLinks-footer{
      margin-right: 0rem;
      flex-wrap: wrap;
    }

    .footerNavLink{
        font-size: 20px;
    }

    .footerText{
        font-size: 16px;
        margin: 0;
    }

    #copyrightText{
        font-size: 14px;
        font-weight: 500;
        margin-top: 1.5rem;
    }

    #formButton{
        width: 60%;
    }

    #mailingListBox{
        grid-column: 8/16;
    }
    
    #formLabel{
        font-size: 26px;
    }
    
    i{
        font-size: 2rem;
        margin: 1rem 1rem 2rem 1rem;
        cursor: pointer;
       
    }

}



@media screen and (max-width: 998px){

    #intro-Container{
        /* display: grid;
        grid-template-columns: repeat(24, 1fr);
        background-color:#FFFFFF; */

        margin-bottom: -6rem;
    }

    .brandLink{
        width: 280px;
        overflow: hidden;
    }
    .navLink{
        font-size: 20px;
        margin: 2.5rem .5rem .5rem .5rem;
        padding: .5rem;
        opacity: 0.8;
    }
    #bannerImg{
        
        height: max-content;
    }
    
    #imgWrapper{
        grid-column: 1/22;
      
    }
    
    #mastheadContainer{
        grid-column: 6/25;
        
    }
    
    #masthead{
        font-size: 60px;
        margin: 3rem 1rem 1rem 3rem
    }  
    
    #mastSubText{
        line-height: 1.6;
    }

    /* ============================ */
    #blog{
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 100px 700px 700px 700px 400px;
        gap: 2rem;
        padding-bottom: 6rem;
    }

    #blogHeading{
        align-self: end;
        font-size: 60px;
        grid-column: 6/9;
        grid-row: 1;
    }

    #article1{
        grid-column: 3/11;
        grid-row: 2;
    }
    #article2{
        grid-column: 3/11;
        grid-row: 3;
    }
    #article3{
        grid-column: 1/13;
        grid-row: 5;
    }

    #article3>img{
        min-width: auto;
        min-height: 100%;
        object-position: center top;
        
    }

    #article3>div{
        max-width: 50%;
        overflow-y: scroll;

    }

    #article3>div::-webkit-scrollbar {
        width: 10px;
      }
    
        #article3>div::-webkit-scrollbar-track {
            background: #FFFFFF; 
        }
        
        #article3>div::-webkit-scrollbar-thumb {
            background: rgb(238, 181, 170); 
        }
        
        #article3>div::-webkit-scrollbar-thumb:hover {
            background: #D64C31; 
        }
            
        #article4{
                grid-column: 3/11;
                grid-row: 4;
            }

   
        .cardBody{
            margin: 1rem 0 0 2rem;
        }

        .blogDate{
            font-size: 16px;
            margin: 0rem 0 .75rem 0 
        }

        .blogTitle{
            font-size: 36px;
            margin: 0 1rem 1rem 0;
        }

        .blogButton{
            margin: 1.5rem 0 1rem 0;
        }

        .blogButton-widePanel{
            width: 50%;
        }
    

        /* ================================= */

        #relatedPostSection{
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: 100px 700px 700px 700px;
        }

        #relatedPostsHeading{
            font-size: 60px;
            grid-column: 3/11;
            grid-row: 1;
            margin: 3rem 0 0 0;
        }

        #related-article1{
            grid-column: 3/11;
            grid-row: 2;
        } 
        
        #related-article2{
            grid-column: 3/11;
            grid-row: 3;
        }
        
        #related-article3{
            grid-column: 3/ 11;
            grid-row: 4;
            flex-direction: column;
        }
        #related-article3>img{
            max-width:100%;
            min-height: 50%;
          } 
        
    
          /* ============================================= */

          footer{
            grid-template-rows: max-content max-content;
        }
        
        
        
        #mailingListBox{
            grid-column: 1/13;
            grid-row: 1;
            align-self: center;
            height: auto;
        }
        
        #joinForm{
            justify-content: flex-start;
            margin: 0 auto;
            width: 90%;
        }

       
        #formLabel{
            padding-top: 2rem;
        }
        
        #emailInput{
           width: 60%;
           font-size: 20px;
           padding: 1rem 0;
           text-indent: 2rem;
        }

        #button-wrapper-email{
            display: table-cell;
        }
        
        #formButton{
            width: 30%;
        }
        
        #footerNav{
            grid-column: 2/12;
        }
        
        #footerBrand{
            margin: 1.5rem 0 2rem 0;
        }
        
        #footerHeading{
            font-size: 30px;
            font-weight: 500;
            font-family: 'Montserrat', sans-serif;
            margin: 0rem 0 .5rem 0;
        }
        .footerText{
            font-size: 20px;
            font-weight: 400;
            font-family: 'Montserrat', sans-serif;
            line-height: 1.5;
            margin: 0rem 0 1.5rem 0;
        }
        
        #navLinks-footer{
            display: flex;
            justify-content: space-between;
            margin-right: 8rem;
        }
        
        .footerNavLink{
            font-size: 24px;
            font-weight: 500;
            text-decoration: none;
            margin: .5rem;
            color: #FFFFFF;
        }
        
        #copyrightText{
            font-size: 18px;
            font-weight: 500;
            margin-top: 2rem;
        }
}

@media screen and (max-width: 690px){
    #intro-Container{
        display: flex;
        flex-direction: column;
    }
    
    #navContainer{
        display: inline-block;
    }

    .brandLink{
        max-width: 130px;
        display: inline-block;
        margin-left: 1rem;
    }
    #navBrand{
        transform: translateX(-8rem) scale(.7);
        margin: 1rem 1rem 1rem 0rem;
    }

    .navLink {
        display: none;
        margin: 1rem
    }

    #navContainer.openMenu{
        position: relative;
    }
    #navContainer.openMenu>#barsBtn{
        position: absolute;
        top: 0;
        right: 0;
    }
    #navContainer.openMenu>a{
        float: none;
        display: block;
        text-align: left;
    }
    #barsBtn{
        display: block;
        float: right;
    }

    #blog{
        display: flex;
        flex-direction: column;
        padding-bottom: 0;
    }

    #blogHeading{
        margin: 0 auto;
    }

    #blog article {
        margin: 3rem;
    }
    #blog aside {
        margin: 3rem;
        height: 600px;
    }

    #article3{
        flex-direction: column;
    }

    #article3>img{
        min-height: 50%;
    }
    #article3>div{
        max-width: 100%;
    }

    #relatedPostSection{
        display: flex;
        flex-direction: column;
        padding-bottom: 2rem;
    }
    #relatedPostSection article{
        margin: 3rem;
    }

    #relatedPostsHeading{
        margin: 0 auto;
    }

    #footerHeading{
        font-size: 20px;
    }
    .footerText{
        font-size: 16px;
    }
    #copyrightText{
        font-size: 14px
    }

    .footerNavLink{
        font-size: 16px;
    }
}

@media screen and (max-width: 450px){
    #masthead{
        font-size: 50px;
        margin: 2rem 0 1rem 1rem;

    }  
    #mastSubText{
        line-height: 1.2;
        margin: 2rem;
    }

    #blog>article{
        margin: 1rem;
    }
    #blog>aside{
        margin: 1rem;
    }

    #relatedPostSection article{
        margin: 1rem;
    }

    #emailInput{
        width: 90%;
        font-size: 20px;
        padding: 1rem 0;
        text-indent: 2rem;
     }

     #formButton{
        width: 50%;
    }
    
}